[user]
	email = 
	name = Daniel A.C. Martin
[url "https://"]
	insteadOf = git://
[core]
	editor = vi
[push]
	default = simple
[alias]
	buttery-biscuit = pull --rebase origin master
	new-branch = "!f() { name=${1}; git checkout master && git pull && git checkout -b ${name} && git push -u origin ${name}; }; f"
	remaster = "!git checkout master && git pull"
	staged = diff --staged
	bb = !git buttery-biscuit
	nb = !git new-branch
